<%- include("header") %> 
<img class="about-pic" src="../pics/10.jpg" alt="">
<h3 class="hair about">I have taken a diploma degree in Beauty therapist, Spa therapist, Makeup Artist and I am a skin Cosmetologist... I have pursued the training from LTA-The School Of Beauty. I do Skin Consultations as well.</h3>
<%- include("footer") %> 