<%- include('header') %>

<nav class="menu">
    <div>
      <a class="inner-menu" href="/cosmetology">Cosmetology</a>
      <a class="inner-menu" href="/hair">Hair</a>
      <a class="inner-menu" href="/beautify">Beauty</a>
      <a class="inner-menu" href="/make-up">Make-up</a>
    </div>
</nav>

<div class="makeup">
    <h1>Facials are workout for your skin💪💪</h1>
</div>

<div class="makeup">
    <img class="makeup-pic" src="../pics/1.jpg" alt="">
    <img class="makeup-pic" src="../pics/6.jpg" alt="">
    <img class="makeup-pic" src="../pics/8.jpg" alt="">
</div>

<h1 class="hair">Facials I perform:</h1>

<div class="row">
    <div class="make-up-list col-lg-4 col-md-6">
        <div class="hairstyle">
            <ul>
                <li>Anti-Tan facial</li>
                <li>Pigmentation Facial</li>
                <li>Swedish Facial</li>
                <li>D-Tan Facial</li>
                <li>Skin lightening Facial</li>
                <li>Radiant Glow Facial</li>
                <li>Acne Facial</li>
                <li>03+Brightening Facial</li>
                <li>Fruit Facial</li>
                <li>Anti-Ageing Facial</li>
            </ul>
        </div>
    </div>
</div>


<%- include('footer') %>  