<%- include("header") %> 

<div class="contact container-fluid">
    <p class="contact-icon"><i class="contact-icon fab fa-whatsapp"></i>+91 91677 93146</p>
    <a class="contact-icon" href="mailto:fatemakanorwala400@gmail.com"><i class="contact-icon far fa-envelope"></i>Email</a><br>
    <a class="contact-icon" href="http://www.instagram.com/makeoverbyfaa"><i class="contact-icon fab fa-instagram"></i>Instagram</a><br>
</div>
    
<%- include("footer") %> 