<%- include('header') %>

<nav class="menu">
    <div>
      <a class="inner-menu" href="/cosmetology">Cosmetology</a>
      <a class="inner-menu" href="/hair">Hair</a>
      <a class="inner-menu" href="/beautify">Beauty</a>
      <a class="inner-menu" href="/make-up">Make-up</a>
    </div>
</nav>

<div class="cosmoDiv">
    <div class="cosmoinner">
        <img class="cosmoItem-1" src="../pics/galvanic.jpg" alt="galvanic treatment">
        <p class="cosmo-p">vacuum suction -Vacuum suction is an electrical method for lymphatic and vascular circulation and is applied in the direction of lymphatic nodes. It is used for general cleansing on normal, dry, combination and greasy skin to loosen blocked pores, blackheads(comedones) and also to improve the condition of dry and dehydrated skin. 
        </p>
    </div>
    <div class="cosmoinner">
        <img class="cosmoItem-2" src="../pics/vacuum.jpg" alt="vacuum sunction treatment">
        <p class="cosmo-p">Galvanic Treatment -It relaxes the pores and emulsifies the sebum. It softens dead cells and therefore improves the texture of skin. It also increases circulation and cell metabolism is stimulated. This treatment mostly treats pigmentation. 
        </p>
    </div>
    <div class="cosmoinner">
        <img class="cosmoItem-3" src="../pics/high frequency.jpg" alt="high frequency treatment">
        <p class="cosmo-p">High Frequency-It helps to heal the papules and pustules. It relaxes your tissues and has desquamation effect. It nourishes your skin.
        </p>
    </div>
</div>


<%- include('footer') %>  