        
    </body>
        <footer class="foot">
            <div class="container-fluid">
                <a href=""><i class="social-icon fab fa-facebook-f"></i></a>
                <a href=""><i class="social-icon fab fa-instagram"></i></a>
                <a href=""><i class="social-icon fab fa-whatsapp"></i></a>
                <p class="developer">© Copyright 2020 Mustafa Kanorwala</p>
                <a href="https://mustumak.github.io/mysite/"><h4 class="developer">About the developer</h4></a>
            </div>
        </footer>
</html>