        
    </body>
        <footer class="foot">
            <div class="container-fluid">
                <a href="http://www.instagram.com/makeoverbyfaa"><i class="social-icon fab fa-instagram"></i></a>
                <a href="mailto:fatemakanorwala400@gmail.com"><i class="social-icon far fa-envelope"></i></a><br>
                <a class="social-icon developer" href="/contact">Contact Me</a>
                <a class="social-icon developer" href="/faa-about">About Me</a>
                <p class="developer">© Copyright 2020 Mustafa Kanorwala</p>
                <a href="https://mustumak.github.io/mysite/"><h4 class="developer">About the developer</h4></a>
            </div>
        </footer>
</html>