<%- include('header') %>

<nav class="menu">
    <div>
      <a class="inner-menu" href="/cosmetology">Cosmetology</a>
      <a class="inner-menu" href="/hair">Hair</a>
      <a class="inner-menu" href="/beautify">Beauty</a>
      <a class="inner-menu" href="/make-up">Make-up</a>
    </div>
</nav>

<div class="hair">

    <h1>Invest in your Hair, it is the crown you never take off...</h1>

</div>

<div class="makeup">
    <img class="makeup-pic" src="../pics/11.jpg" alt="">
    <img class="makeup-pic" src="../pics/12.jpg" alt="">
    <img class="makeup-pic" src="../pics/13.jpg" alt="">
    <img class="makeup-pic" src="../pics/14.jpg" alt="">
    <img class="makeup-pic" src="../pics/15.jpg" alt="">
</div>

<h1 class="hair">Hairstyles I offer:</h1>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="hairstyle">
            <ul>
                <li>Diffused Curls</li>
                <li>Ringlet Bun With Gajra</li>
                <li>Chotli Braid</li>
                <li>Pinned Back Twisted Ropes</li>
                <li>Triple Twisted Ringlet Bun</li>
                <li>Windswept Waves</li>
                <li>Elegant Twisted Bun</li>
                <li>Bumped Up Curls</li>
                <li>Vertical Low Bun</li>
                <li>Curled Edges</li>
            </ul>
        </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="hairstyle">
        <ul>
            <li>Royal Curls</li>
            <li>Diffused Curls</li>
            <li>The Sleek/Messy Ponytail</li>
            <li>Daisy Braid</li>
            <li>Jasmine Fishtail Braid</li>
            <li>Double French Braid Ponytail</li>
            <li>Messy Pulled Back Curls</li>
            <li> Fishtail Braid</li>
            <li>Floral Curls</li>
            <li>Classic Fishtail Braid</li>
        </ul>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="hairstyle">
        <ul>
            <li>Messy Pulled Back Fishtail Braid</li>
            <li>Twisted Bangs</li>
            <li>Inverted French Braid Bun</li>
            <li>Voluminous Bangs Curls</li>
            <li>French Twisted Messy Bun</li>
            <li>Sea Salt Curls</li>
            <li>Messy Ponytail</li>
            <li>Twisted Back Waves</li>
            <li>Red Rose Bun</li>
            <li>Messy Double Bun</li>
            <li>sleek straight Hairs</li>
        </ul>
    </div>    
  </div>
</div>












<%- include('footer') %>  