<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fatema Kanorwala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@500&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <nav class="navigator navbar navbar-expand-lg">
      <a href="/faa-about"><img class="DP" src="../pics/10.jpg" alt=""></a>
      <a class="navbar-brand head" href="/">Fatema Kanorwala</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navitems" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navitems" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navitems" href="/faa-about">About</a>
          </li>
      </div>
    </nav>
    