<%- include("header") %> 

<nav class="menu">
  <div>
    <a class="inner-menu" href="/cosmetology">Cosmetology</a>
    <a class="inner-menu" href="/hair">Hair</a>
    <a class="inner-menu" href="/beautify">Beauty</a>
    <a class="inner-menu" href="/make-up">Make-up</a>
  </div>
</nav>

<div class="sector row">
  <div class="single-div col-lg-4 col-md-6">
        <img class="single-pic" src="../pics/2.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
        <img class="single-pic" src="../pics/6.jpg" class="d-block w-100" alt="...">
  </div>

  <div class="single-div col-lg-4 col-md-6">
        <img class="single-pic" src="../pics/10.jpg" class="d-block w-100" alt="...">
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/1.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/3.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/16.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/4.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/5.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/7.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/8.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/9.jpg" class="d-block w-100" alt="...">    
  </div>

  <div class="single-div col-lg-4 col-md-6">
    <img class="single-pic" src="../pics/11.jpg" class="d-block w-100" alt="...">    
  </div>

</div>



<%- include("footer") %> 