<%- include('header') %>

<nav class="menu">
    <div>
      <a class="inner-menu" href="/cosmetology">Cosmetology</a>
      <a class="inner-menu" href="/hair">Hair</a>
      <a class="inner-menu" href="/beautify">Beauty</a>
      <a class="inner-menu" href="/make-up">Make-up</a>
    </div>
</nav>

<div class="makeup">
    <h1>Make-up is not a tool to make an ugly thing beautiful, it is meant to magnify the beauty that already exists!!!</h1>
</div>
<div class="makeup">
    <img class="makeup-pic" src="../pics/10.jpg" alt="">
    <img class="makeup-pic" src="../pics/4.jpg" alt="">
    <img class="makeup-pic" src="../pics/5.jpg" alt="">
    <img class="makeup-pic" src="../pics/2.jpg" alt="">
</div>

<h1 class="hair">Make-Overs I do:</h1>

<div class="row">
    <div class="make-up-list col-lg-4 col-md-6">
        <div class="hairstyle">
            <ul>
                <li>H.D Bridal Makeup</li>
                <li>contemporary Makeup</li>
                <li>Retro Makeup</li>
                <li>Red carpet look</li>
                <li>Fantasy Makeup</li>
                <li>Ramp walk Makeup</li>
                <li>Glowy Makeup</li>
                <li>Black and white makeup</li>
                <li>Editorial makeup</li>
                <li>Natural subtle Makeup</li>
            </ul>
        </div>
    </div>

</div>

<%- include('footer') %>  